{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap 'homebrew/cask-fonts'
tap "homebrew/core"

brew "fzf"
brew "git"
brew "htop"
brew "httpie"
brew "iperf3"
brew "mas"
brew "midnight-commander"
brew "thefuck"
brew "tldr"
brew "wget"
brew "yq"

cask "docker"
cask "firefox"
cask "iterm2"
cask "karabiner-elements"
cask "rectangle"
cask "vlc"

cask "font-jetbrains-mono"
cask "font-meslo-lg-nerd-font"

mas "Bitwarden", id: 1352778147
mas "Microsoft Excel", id: 462058435
mas "Microsoft OneNote", id: 784801555
mas "Microsoft Outlook", id: 985367838
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Outline", id: 1356178125
mas "Spark", id: 1176895641
mas "Telegram", id: 747648890
EOF

$(brew --prefix)/opt/fzf/install --all
grep -q "eval $(thefuck --alias)" "${HOME}/.zshrc" || echo "eval $(thefuck --alias)" >> "${HOME}/.zshrc"
{{ end -}}
