{{- if eq .chezmoi.os "darwin" -}}

#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

exists() {
	command -v "$1" >/dev/null 2>&1
}

if ! exists brew; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file=/dev/stdin <<EOF
tap "koekeishiya/formulae"
tap "teamookla/speedtest"

brew "bat"
brew "btop"
brew "chezmoi"
brew "curl"
brew "direnv"
brew "duf"
brew "eza"
brew "fd"
brew "fzf"
brew "git"
brew "htop"
brew "httpie"
brew "inetutils"
brew "iperf3"
brew "gh"
brew "jq"
brew "jrnl"
brew "lazygit"
brew "ncdu"
brew "neovim"
brew "nnn"
brew "pam-reattach"
brew "rclone"
brew "ripgrep"
brew "rsync"
brew "sesh"
brew "skhd"
brew "speedtest"
brew "thefuck"
brew "tldr"
brew "wget"
brew "yabai"
brew "yq"
brew "zoxide"
brew "zsh"

cask "alacritty"
cask "claude-code"
cask "firefox"
cask "karabiner-elements"
cask "obsidian"
cask "raycast"
cask "spotify"

cask "font-jetbrains-mono-nerd-font"
EOF

{{ end -}}
