{{- if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.id "debian" -}}

#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

exists() {
    command -v "$1" >/dev/null 2>&1
}

sudo apt-get update

packagelist=(
  bat
  btop 
  curl
  duf
  exa 
  fd-find
  fzf
  git 
  htop
  httpie
  iperf3 
  jq
  make
  mc
  ncdu
  nnn
  ripgrep
  rsync
  thefuck
  tldr
  tmux
  wget
  zoxide
  zsh

  # neovim
  build-essential
  cmake
  gettext
  ninja-build 
  unzip
)

sudo apt-get install -y ${packagelist[@]}

mkdir -p ~/.local/bin

# bat
# https://github.com/sharkdp/bat#on-ubuntu-using-apt
ln -sf /usr/bin/batcat ~/.local/bin/bat

# fd
# https://github.com/sharkdp/fd?tab=readme-ov-file#on-debian
ln -sf $(which fdfind) ~/.local/bin/fd

# neovim
if ! exists nvim; then
  git clone --depth 1 --branch stable https://github.com/neovim/neovim.git /tmp/neovim
  ( cd /tmp/neovim \
    && make CMAKE_BUILD_TYPE=RelWithDebInfo \
    && sudo make install 
  )
  rm -rf /tmp/neovim
fi

# lazygit
# https://github.com/jesseduffield/lazygit#ubuntu
if ! exists lazygit; then
  LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
  curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_$(dpkg --print-architecture).tar.gz"
  tar xf lazygit.tar.gz lazygit
  sudo install lazygit /usr/local/bin
  rm lazygit.tar.gz lazygit
fi

{{ end -}}
{{ end -}}
