{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap 'homebrew/cask-fonts'
tap "homebrew/core"

tap "null-dev/firefox-profile-switcher"

brew "bat"
brew "btop"
brew "exa"
brew "fzf"
brew "git"
brew "htop"
brew "httpie"
brew "iperf3"
brew "mas"
brew "midnight-commander"
brew "ncdu"
brew "neofetch"
brew "rsync"
brew "telnet"
brew "thefuck"
brew "tldr"
brew "wget"
brew "zoxide"

brew "null-dev/firefox-profile-switcher-connector"

cask "adobe-acrobat-reader"
cask "docker"
cask "firefox"
cask "iterm2"
cask "karabiner-elements"
cask "obsidian"
cask "outline-manager"
cask "pycharm"
cask "rectangle"
cask "transmission-remote-gui"
cask "vlc"
cask "zoom"

cask "font-jetbrains-mono"
cask "font-meslo-lg-nerd-font"

mas "Bitwarden", id: 1352778147
mas "DaisyDisk", id: 411643860
mas "Emby", id: 992180193
mas "Microsoft Excel", id: 462058435
mas "Microsoft OneNote", id: 784801555
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Outline", id: 1356178125
mas "Spark", id: 1176895641
mas "Telegram", id: 747648890
mas "WhatsApp", id: 1147396723
EOF

# null-dev/firefox-profile-switcher-connector
mkdir -p "${HOME}/Library/Application Support/Mozilla/NativeMessagingHosts"
ln -sf "$(readlink -f $(brew --prefix firefox-profile-switcher-connector))/ax.nd.profile_switcher_ff.json" "${HOME}/Library/Application Support/Mozilla/NativeMessagingHosts"/ax.nd.profile_switcher_ff.json

{{ end -}}
