{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap 'homebrew/cask-fonts'
tap "homebrew/core"

tap "null-dev/firefox-profile-switcher"

brew "fzf"
brew "git"
brew "htop"
brew "httpie"
brew "iperf3"
brew "mas"
brew "midnight-commander"
brew "telnet"
brew "thefuck"
brew "tldr"
brew "wget"
brew "yq"

brew "null-dev/firefox-profile-switcher-connector"

cask "docker"
cask "firefox"
cask "iterm2"
cask "karabiner-elements"
cask "obsidian"
cask "rectangle"
cask "vlc"
cask "zoom"

cask "font-jetbrains-mono"
cask "font-meslo-lg-nerd-font"

mas "Bitwarden", id: 1352778147
mas "Microsoft Excel", id: 462058435
mas "Microsoft OneNote", id: 784801555
mas "Microsoft Outlook", id: 985367838
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Outline", id: 1356178125
mas "Spark", id: 1176895641
mas "Telegram", id: 747648890
mas "WhatsApp", id: 1147396723
EOF

# fzf
$(brew --prefix)/opt/fzf/install --all

# thefuck
grep -q "eval $(thefuck --alias)" "${HOME}/.zshrc" || echo "eval $(thefuck --alias)" >> "${HOME}/.zshrc"

# null-dev/firefox-profile-switcher-connector
mkdir -p "${HOME}/Library/Application Support/Mozilla/NativeMessagingHosts"
ln -sf "$(readlink -f $(brew --prefix firefox-profile-switcher-connector))/ax.nd.profile_switcher_ff.json" "${HOME}/Library/Application Support/Mozilla/NativeMessagingHosts"/ax.nd.profile_switcher_ff.json

{{ end -}}
