{{- if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.id "debian" -}}

#!/bin/bash

sudo apt-get update

packagelist=(
# bat
  btop 
# cpufetch
  curl
# duf
  exa 
# fzf 
  git 
  htop
  httpie
  iperf3 
  ipython
  mc
# ncdu
# neofetch
# nnn
  ripgrep
  rsync
# speedtest-cli
  telnet
  thefuck
  tldr
  wget
# zoxide
  zsh
)

sudo apt-get install -y ${packagelist[@]}

# Oh My Zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

# vim
vim +'PlugInstall --sync' +qa

{{ end -}}
{{ end -}}
