[user]
	name = Danil Krox
	email = deferred@users.noreply.github.com
[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	ff = only
{{ if eq .chezmoi.os "darwin" -}}
[diff "plist"]
	textconv = plutil -convert xml1 -o -
{{ end -}}
