{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

# https://github.com/koekeishiya/yabai/wiki/Installing-yabai-(latest-release)#configure-scripting-addition
echo "$(whoami) ALL=(root) NOPASSWD: sha256:$(shasum -a 256 $(which yabai) | cut -d " " -f 1) $(which yabai) --load-sa" | sudo tee /private/etc/sudoers.d/yabai

yabai --start-service || true
skhd --start-service || true

{{ end -}}
