{{- if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env bash

set -euo pipefail
IFS=$'\n\t'

brew bundle --file=/dev/stdin <<EOF
tap "asmvik/formulae"
tap "leohenon/tap"
tap "teamookla/speedtest"

brew "asmvik/formulae/skhd"
brew "asmvik/formulae/yabai"
brew "leohenon/tap/ocv"
brew "teamookla/speedtest/speedtest"

brew "opencode"
brew "pam-reattach"
brew "sesh"

cask "1password"
cask "1password-cli"
cask "alacritty"
cask "claude-code"
cask "firefox"
cask "karabiner-elements"
cask "linearmouse"
cask "obsidian"
cask "raycast"
cask "spotify"

cask "font-jetbrains-mono-nerd-font"
EOF

{{ end -}}
