{{- if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env bash

set -euo pipefail
IFS=$'\n\t'

brew bundle --file=/dev/stdin <<EOF
tap "koekeishiya/formulae"
tap "teamookla/speedtest"

brew "opencode"
brew "pam-reattach"
brew "sesh"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
brew "teamookla/speedtest/speedtest"

cask "alacritty"
cask "firefox"
cask "karabiner-elements"
cask "linearmouse"
cask "obsidian"
cask "raycast"
cask "spotify"

cask "font-jetbrains-mono-nerd-font"
EOF

{{ end -}}
